.card-news-links {
    margin-top: 30px;
    display: flex;
}

.card-news-links .news-previous {
    margin-right: auto;
}

.card-news-links .news-next {
    margin-left: auto;
}

.news-related-product-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
