/.idea/*
/bitrix/*
!/bitrix/php_interface/
!/bitrix/templates/
!/bitrix/components/
/bitrix/components/bitrix/
/bitrix/php_interface/dbconn.php
/bitrix/.settings.php
/bitrix/.settings_extra.php
/upload/*
/cgi-bin/
sitemap*.xml
restore.php
*.log
*.sql
*.txt
*.dt
*.swp
*.swo
*.csv
*.DS_Store
/**/*.DS_Store
Thumbs.db
.tar.*
bx_1c_import.php
test*
!/test.php
/.htaccess
/*.xml